.before-footer{
    h3{
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    p{
        color: #0000007c;
        font-size: 18px;
    }
    .no-art{
        font-size: 25px;
        color: black;
        margin-top: 40px;
        font-weight: 600;

    }
}